 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
 }



 h1{
    font-size: 40px;
    /*margin-top: 15px;*/

    display: inline-block;
 }

 h2{
    text-align: center;
    font-size: 22px;
 }

 h3{
   margin: 15px 0px 5px 0;
 }
 .nav-padre{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-top: 20px;
 }
 nav a {
    font-size: 15px;
    background-color:rgb(68 114 196);
    width: 120px;
    color: white;
    text-align: center;
    position: relative;
    top: 30px;
    padding: 5px 0px;
    margin: 0px 10px 0 10px;
    z-index: 1;
    border: 1px solid black;
    text-decoration: none;
    display: inline-block;
    box-shadow: 3px 3px rgb(112, 112, 112);
    
 }

 nav a.active{
    background-color: rgb(112 173 71);
 }
 

 .banner {
    width: 70%;
    height: 350px;
    background-image: url(./banner.jpg);
    background-size: cover;
    background-position: 0% 40%;
    position: relative;
    left: 15%;
 } 

main{
    position: relative;
}

 .recuadro{
    width: 70%;
    height: 35px;
    border: 2px solid black;
    position: absolute;
    left: 15%;
    display: inline-block;
 }

 figure{
    display: inline-block;
    background-color: blue;
     
 }
 .logo{
    width: 150px;
    position: absolute;
    left: 15%;
    top: 40px;
 }

  article p{
   display: inline-block;
   margin-bottom: 20px;
 }

 .italic{
    font-style: italic;
 }

 .underlined{
   text-decoration:underline;
 }

 .principal{
    position: absolute;
    left: 30%;
    top: 55px;
    width: 55%;
    padding: 10px;
 }


 table{
   width: 60%;
   margin: 40px 0;
   text-align: center;
 }

 ol{
   list-style-type: lower-alpha;
   list-style-position: inside;
 }

 ul{
   list-style-position:inside;
   margin: 0;
 }


 dt{
   margin-top: 15px;
 }

 dd{
   margin-bottom: 10px;
 }
 